<div>
  <table  class="table table-striped">
    <thead>
      <tr>
        <th>File Name</th>
        <th>Upload Time</th>
        <th>File Size</th>
        <th>SHA1</th>
        <th>MD5</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let file of files">
        <td>{{ file.fileName }}</td>
        <td>{{ file.uploadTime | date: 'yyyy/MM/dd h:mm a' }}</td>
        <td>{{ file.fileSize }}</td>
        <td class="text-monospace">{{ file.shA1 }}</td>
        <td class="text-monospace">{{ file.mD5 }}</td>
      </tr>
    </tbody>
  </table>
</div>
